//
// Static
//

$static-colour-change: 10;

//
// Colours
//

$colour-blue: #03a9f4;
$colour-green: #4caf50;
$colour-red: #f44336;
$colour-bluegray: #607d8b;
$colour-darkgray: #464646;
$colour-white: #ffffff;

$colour-primary: $colour-blue;
$colour-text: $colour-darkgray;

//
// Sizes
//

$size-height-player-music: 12vw;

//
// Typography
//

$font-size: 24px;
